header{
    background-color: lightpink;
    border: 1px solid #000000;
    height: 100px;
}
aside{
    background-color: lightblue;
    border: 1px solid #000000;
}
main{
    background-color: yellow;
}
footer{
    background-color: red;
    border: 1px solid #000000;
    color: blue;
    height: 50px;
}